mat-toolbar {
  justify-content: space-between;
  background-color: #dfa285;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.spacer {
  padding-left: 5px;
  padding-right: 5px;
}

.active-link {
  font-weight: bold;
  border-bottom: 2px solid #fff;
  border-radius: 0;
}

router-outlet {
  display: block;
  margin-top: 56px;
}

.logo {
  height: 32px;
  width: auto;
  margin-right: 8px;
  vertical-align: middle;
  margin-left: 13px;
  transform: scale(1.5);
}
