################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.vs/Fire-IceFE/FileContentIndex/bbdac010-4b7b-4788-9de4-097196bf53c9.vsidx
/.vs/Fire-IceFE/FileContentIndex/26ff5f4f-9898-49d9-93bd-352d0dac1281.vsidx
/.vs/Fire-IceFE/FileContentIndex/3a82ed45-a080-43c5-a1bc-bd1df62a96b9.vsidx
/.vs/Fire-IceFE/FileContentIndex/a9d8cd5b-61e0-4927-bfdf-d4aa821d53a9.vsidx
/.vs/Fire-IceFE/FileContentIndex/250b18be-811a-4b55-b063-df8e14e7c11a.vsidx
*.vsidx
