@import "../colors.scss";
@import "./design-variables.scss";

mat-form-field {
  // Fix for blurry labels.
  font-weight: 400 !important;
  cursor: pointer;

  &.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float, &.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper {

    .mat-mdc-floating-label {
      transform: translateY(-1.28125em) scale(.78) !important;
      width: 133.3333933333%;
      top: 1.28125em;
    }
  }
  // Fix for small datepicker button.

  &.mat-form-field-appearance-legacy .mat-mdc-form-field-text-prefix .mat-datepicker-toggle-default-icon,
  &.mat-form-field-appearance-legacy .mat-mdc-form-field-text-suffix .mat-datepicker-toggle-default-icon {
    width: 1.167em;
    height: 1.167em;
  }

  .mat-form-field-required-marker {
    display: none;
  }

  .mat-mdc-form-field-label-wrapper {
    top: -0.84375em;
  }

  .mdc-line-ripple {
    width: 100%;
    pointer-events: none;
    transform: scale3d(1, 1.0001, 1);
    height: 1px;
    bottom: 1.25em;
    background-color: #0000006b;
  }

  .mat-mdc-form-field-infix {
    padding: 7px 0;
    border: 0;
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
  }

  .mat-mdc-select-trigger {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 1.125em;
    position: relative;
    top: 5px;

    .mat-select-arrow-wrapper {
      height: 16px !important;
      flex-shrink: 0 !important;
      display: inline-flex !important;
      align-items: center !important;
    }
  }
}

.mat-mdc-floating-label {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: $icon-color !important;
}

.mat-form-field-invalid {

  .mat-mdc-floating-label {
    color: $dark_red !important;
  }

  .mdc-line-ripple .mat-form-field-ripple {
    color: $dark_red !important;
    background-color: $dark_red !important;
  }
}

.mat-focused {

  .mat-mdc-floating-label {
    color: $black !important;
  }

  .mdc-line-ripple .mat-form-field-ripple {
    background: $black !important;
    height: 2px !important;
  }

  .mat-select-arrow-wrapper {

    .mat-select-arrow {
      color: $black !important;
    }
  }
}

.mat-datepicker-toggle-active {
  color: $black !important;
}

.required {

  .mat-mdc-floating-label::after {
    content: " *";
    color: $dark_red;
  }
}

.atleast-one-field {

  .mat-mdc-floating-label::after {
    content: " **";
    color: $dark_red;
  }
}

.mat-calendar-body-selected {
  background-color: #3c3f4e;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .dyn-width-select-panel {
    width: auto !important;
  }
}

.dyn-width-select-panel {
  max-width: 100% !important;
  min-width: 100% !important;
  width: auto !important;

  .mat-mdc-option {
    line-height: 2.4em !important;
    height: 2.4em !important;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.datepicker-hover {

  mat-icon {
    float: right;
    position: absolute;
    right: 0px;
    top: 4px;
    height: 21px;
    fill: $button-gray;
  }

  input {
    cursor: pointer;
  }

  .mat-mdc-text-field-wrapper {

    .mat-mdc-form-field-flex {
      cursor: pointer;
    }
  }
}

.mat-mdc-select-panel {
  pointer-events: all;

  &.extended-select-panel-dealership {
    max-height: calc(100vh - 140px);
    max-width: 100%;

    .mat-mdc-option {
      line-height: 2.4em;
      height: 2.4em;
    }
  }
}

.mat-form-field-appearance-legacy .mat-mdc-form-text-infix {
  padding: 7px 0;
  border-top: 0.84375em solid transparent;
}

.mat-form-field-appearance-legacy .mdc-line-ripple {
  background-color: #0000006b;
}

.mat-select-arrow {
  color: #0000008a;
}

.mat-form-field-appearance-fill .mdc-text-field--disabled .mdc-line-ripple {
  background-image: linear-gradient(to right,rgba(0,0,0,.42) 0%,rgba(0,0,0,.42) 33%,transparent 0%);
  background-size: 4px 100%;
  background-repeat: repeat-x;
  background-color: white;
}

.mat-form-field-disabled {
  cursor: auto;
}

.sticky-input {
  height: 35px;
  padding: 0 15px;
  border-bottom: solid 1px $edy-gray-10;
  width: calc(100% - 30px);
  position: sticky;
  top: -1px;
  z-index: 1;
  background: $edy-white;
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mat-select-trigger {
    display: block;
  }
}

.mdc-line-ripple {
  background-color: #0000006b;
}

.mat-form-field-appearance-fill .mdc-line-ripple::before {
  position: unset;
}

.mat-mdc-form-field-hint {
  color: #0000008a;
  font-size: 85%;
}

.mat-form-field-appearance-legacy .mat-mdc-form-field-text-prefix .mat-icon, .mat-form-field-appearance-legacy .mat-mdc-form-field-text-suffix .mat-icon {
  width: 1em;
  font-size: 150%;
  line-height: 1.125;
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-form-field-flex {
  cursor: pointer;
}

.mdc-text-field {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  display: unset;
  align-items: baseline;
  padding: unset;
  position: unset;
  box-sizing: unset;
  overflow: unset;
  will-change: unset;
}

.mat-mdc-select-arrow {
  color: #0000008a;
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
  border: 1px solid $edy-gray-10 !important;
  transform-origin: 50% 53.75px 0px;
  font-size: 12px;
  opacity: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: 0;
  background: #fff;
  max-height: 300px;
  min-width: max-content;
  border-top-left-radius: 0px;
  width: 100% !important;
}

.mat-mdc-select-panel {
  width: auto !important;
  max-width: none !important;
  white-space: nowrap !important;
}

.mat-mdc-option {
  white-space: nowrap !important;
}

.mat-mdc-select-panel {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, .2), 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12) !important;
}

mat-form-field {
  padding-bottom: 0.25em !important;
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled), .mat-mdc-option:focus:not(.mdc-list-item--disabled), .mat-mdc-option.mat-mdc-option-active, .mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(.mdc-list-item--disabled) {
  background: rgba(0, 0, 0, .04);

  &:hover {
    background-color: #ebebeb;
  }
}

.mat-mdc-option-active {
  color: black;
}

.mat-mdc-option-active {
  background: rgba(0,0,0,.12);
}

.mat-mdc-option:hover {
  background: $button_on_hover;
}

.mat-mdc-option .mat-pseudo-checkbox-minimal {
  display: none;
}

.mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
  transform: unset;
}

.mat-mdc-form-field-type-mat-select.mat-form-field-appearance-fill .mdc-floating-label--float-above {
  padding-bottom: 7px;
  font-size: 12px !important;
  font-weight: 400 !important;
  color: $edy-gray-5 !important;
}

mat-card {
  .mdc-icon-button {
    padding: 0px;
    width: 19px !important;
    height: 19px !important;
    font-size: inherit;
    top: 0.3em;
  }

  .mat-mdc-icon-button svg, .mat-mdc-icon-button img {
    width: 1.3em;
    height: 1.3em;
  }
}

.mat-datepicker-toggle .mat-mdc-button-base {
  padding: 0px;
}

.mdc-floating-label--float-above {
  padding-bottom: 4.5px;
}

.mat-mdc-form-field-required-marker {
  display: none;
}

.mat-mdc-option {
  min-height: 32px !important;
  line-height: 2.4em !important;
}

.mat-mdc-form-field-disabled .mdc-line-ripple {
  background-position: 0;
  background-color: rgba(0,0,0,0);
}

label {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: $edy-gray-5 !important;
}

.mat-mdc-form-field .mat-mdc-select .mat-mdc-select-disabled .mat-mdc-select-arrow {
  color: #00000061;
}

.mat-form-field-disabled .mdc-text-field--disabled .mat-mdc-form-field-flex .mat-mdc-form-field-infix .mat-mdc-select-disabled .mat-mdc-select-trigger .mat-mdc-select-arrow-wrapper .mat-mdc-select-arrow {
  color: #00000061;
}

.mat-mdc-select-disabled .mat-mdc-select-value {
  color: #00000061;
}

app-operator-work-summary .mat-datepicker-toggle .mat-mdc-icon-button {
  right: 18px;
  top: 7px;
}

.mat-mdc-option.mdc-list-item {
  align-items: center;
  white-space: nowrap !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 3em !important;
  height: 3em !important;
  min-width: max-content;

  &:hover {
    background-color: #ebebeb;
  }
}

.mat-mdc-option .mdc-list-item__primary-text {
  white-space: unset;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  margin-right: auto;
}

.mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.mat-mdc-form-field-hint-wrapper {
  padding: 0px;
}

.mat-mdc-select-value-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 12px;
  //color: black;
}

.mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  font-size: 12px;
  position: relative;
}

.mdc-form-field > label {
  padding-left: 0px;
  position: relative;
  right: 7px;
  bottom: 1.5px;
}

.mat-mdc-select-panel-above .mdc-menu-surface.mat-mdc-select-panel {
  padding-top: 0px;
  padding-bottom: 0px;
  transform: translateX(0px) translateY(30px) !important;
  min-width: fit-content !important;
  background-color: white;
}

.cdk-overlay-pane:has(.mat-select-search-panel) {
  width: max-content !important;
}

app-new-enquiry {
  .mat-mdc-card.menu-card .mat-mdc-card-content .mat-mdc-form-field.note-wrapper .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex {
    width: 100% !important;
  }

  .mat-mdc-form-field-hint {
    top: -14px;
    position: relative;
  }
}

operator-control {
  .mat-mdc-select {
    width: 96%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: #dd6c6c;
  position: absolute;
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: #dd6c6c;
}

.mdc-text-field--filled .mdc-line-ripple::before {
  border-bottom-width: 1px;
}

.mdc-line-ripple::before, .mdc-line-ripple::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-style: solid;
  content: "";
}

.mdc-text-field--filled .mdc-line-ripple::before {
  border-bottom-width: 1px;
}

app-customer {
  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    position: relative;
    bottom: -5px;
  }
}

.mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
  color: rgba(0, 0, 0, 0.3803921569);
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 20px;
}

.mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: 7px;
  padding-bottom: 7px;
}

.mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-width: 1px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  //color: black;
}

.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  padding-left: 0px !important;
}

.mat-mdc-form-field-error {
  color: $dark_red;
  font-size: 10px;
}
