.detail-card {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  font-family: 'Uncial Antiqua', cursive;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.detail-wrap {
  min-height: 100vh;
  background: url(https://upload.gtarcade.com/got/2019/08/1566532928149.jpg) no-repeat center center fixed;
  background-size: cover;
  gap: 16px;
  padding: 24px;
  flex-direction: column;
  display: flex;
}
