<div *ngIf="book;"
     style="padding: 24px;"
     class="detail-wrap">
  <mat-card class="detail-card">
    <mat-card-title>{{ book.name }}</mat-card-title>
    <mat-card-content>
      <p><strong>Author(s):</strong> {{ book.authors.join(', ') }}</p>
      <p><strong>Publisher:</strong> {{ book.publisher }}</p>
      <p><strong>Country:</strong> {{ book.country }}</p>
      <p><strong>Pages:</strong> {{ book.numberOfPages }}</p>
      <p><strong>Released:</strong> {{ book.released | date }}</p>
      <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    </mat-card-content>
  </mat-card>
</div>
